
<%- include('header',{title:'home page'}) -%>
<div class="d-flex justify-content-center align-items-center h-100 text-center">
    <div class="container border">
        <h1>welcome to the home page<br> <br><%-email-%></h1>
        <br><br>
        <button class="text-danger" onclick="window.location.href='/logout'">signout</button>
    </div>
</div>

<!-- <%- include('footer') -%> -->